# In order for this to work locally, you will need to add the following 
# to your .bashrc other shell file:
# export GSAP_CLUB_TOKEN=my_token_goes_here_foo_bar
# Once added, restart your shell environment or load from it:
# source ~/.bashrc or source ~/.zshrc

//npm.greensock.com/:_authToken=${GSAP_CLUB_TOKEN}
@gsap:registry=https://npm.greensock.com